body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}
p {
  color: #757575;
  font-weight: 300;
  margin: .5em 0 1.2em 0;
}
h2 {
  color: #C2185B;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: .8px;
  margin: 1em 0 0 0;
}
h3 {
  margin: .2em 0 1em 0;
  letter-spacing: 1.6px;
  font-weight: 300;
  color: #C2185B;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #C2185B;
}
.contact {
  font-size: 14px;
}

.black {
  font-weight: 400;
  margin: .5em 0;
  color: #212121;
}
.container {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  padding: 1em;
} 

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  grid-gap: 3rem;
  grid-row-gap: .5em;
}

.img-container img {
  width: 230px;
  height: auto;
  border-radius: 100%;
  border: 2px solid #E91E63;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.about {
  text-align: center;
}

.icons-social {
  font-size: 20px;
  margin: 0 5px 0 0;
}
.facebook{
  color: #3b5998;
}
.twitter{
  color: #38a1f3;
}
.github{
  color: #333;
}
.likedin{
  color: #0e76a8;
}
.skills-content {
  display: grid;
  grid-template: 100px 100px / repeat(5, 100px);
}

.icons-skills {
  font-size: 60px;
}

.html {
  color: #e34f26;
}
.css {
  color: #002561;
}
.js {
  color: #f7df1e;
}
.git {
  color: #F1502F;
}
.react {
  color: #00d8ff;
}
.node {
  color: #44883e;
}
.bootstrap {
  color: #553C7B;
}
.npm {
  color: #CC3534;
}

.skills-wrap {
  text-align: center;
  margin: 25px 0 10px 0;
}
.skills-wrap p {
  opacity: 0;
/*   margin: 0; 
  padding: 0; */
}
.skills-wrap:hover p {
  opacity: 1;
}
/* .html {
  transform: translateX(0);
}
.html:before {
  content: 'HTML5';
  position: relative;
  top: 100px;
  opacity: 1;
} */
/* .css:before {
  content: 'HTML5';
  position: relative;
  bottom: 100%;
} */


@media only screen and (max-width: 767px) {
  .main-container {
    grid-template-columns: 1fr;
    text-align: center;
 }
 .skills-content {
  display: grid;
  grid-template: 100px 100px / repeat(3, 100px);
  justify-content: center;
}
}